/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

.red {background-color: #d45642}
.white{background-color: #f3f3f3}

.arrow_box {
	height: 29px;
	position: relative;
	background-image:url(../images/pfeil.png);
	background-position:center;
}
#button{
	background-color:#F8E02E;
	padding: 5px 10px 5px 10px;
	border-radius: 3px;
	-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
}
#button:hover{
	background-color: #42d480;
	-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
}
a#button:hover{
	color: #ffffff
}
#top{
	background-image:url(../images/top.svg);
	position: fixed;
	top: 2%;
	right: 2%;
	width: 50px;
	height: 50px;
	background-size: 50px 50px;
	opacity: 0.4;
	display: none;
	z-index: 99999;
}

#navi {background-color: #42a8d4; background-image:url(../images/header-foto_4.jpg);background-position: center; background-repeat: no-repeat;background-size: cover;width: 100%; }
#navi ul li{float: left; margin: 0 45px 0 0;}
#navi ul li:last-child{margin: 0 0 0 0;}
#navi ul {margin: 25px 0 0 0;right: 0px;position: absolute;}
#ZR {margin: 10px auto 0 auto;display: block;}
#intro {height: 492px;
		display: block;
		margin: 75px 0 110px 0;
		/*background-image: url(../images/introduction.svg); */
		background-position: center;
		background-size: 405px;
		background-repeat: no-repeat;}
#hexagons{	background-image:url(../images/hexagons.svg);
			background-position:center;
			height: 340px;
			background-repeat: no-repeat;
			background-size: 100%;
			-webkit-transition: opacity 1.0s ease-out; 
		    -moz-transition: opacity 1.0s ease-out; 
		    -o-transition: opacity 1.0s ease-out;
		    transition: opacity 1.0s ease-out;}
#hexagons.outViewPort{
	opacity: 0;
}
.services li{color: #e7dad8;font-size: 28px; line-height: 34px; margin-bottom: 8px;text-transform: uppercase;}
li.last		{color:#d45642;margin-top: 30px}
.services 	{text-align: center;margin-top: 35px}
.service	{margin-top: 150px;margin-bottom: 140px;}
#metext{
	opacity: 1;
	-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
}
#metext.outViewPort{
	opacity: 0;
}
#about {background-color: #42a8d4;/*blau background-color: #42a8d4;*/}
#aboutbox {	width: 220px;height: 136px; background-color: #f3f3f3; text-align: center;
			margin-left: auto;
			margin-right: auto;
			top: -60px;
			position: relative;
			z-index: 2;
			border-radius: 5px;
			box-shadow: 0px -3px 17px rgba(51, 51, 51, 0.19);
			-webkit-transition: all 0.4s ease;
			-moz-transition: all 0.4s ease;
			-ms-transition: all 0.4s ease;
			-o-transition: all 0.4s ease;}
#aboutbox.outViewPort{
	opacity: 0;
	top: -95px;
}
#aboutbox:after {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
#aboutbox:after {
	border-color: rgba(136, 183, 213, 0);
border-top-color: #f3f3f3;
border-width: 20px;
border-left-width: 0px;
border-right-width: 25px;
right: 45px;
margin-left: 10px;
}
#aboutbox h2{top: 41px;
position: relative;}

.aboutschatten{/*background-image: url(../images/aboutschatten.png);*/
				position: relative;
				height: 236px;
				width: 245px;
				top: -260px;
				margin-left: auto;
				margin-right: auto;
				z-index: 1;
				background-repeat: no-repeat;}
.schatten{background-image: url(../images/container_schatten.png);
			position: relative;
			height: 40px;
		top: -39px;}
.schatten_unten{background-image: url(../images/container_schatten_unten.png);
			position: relative;
			height: 39px;
			top: -60px;
			background-repeat: repeat-x;
			z-index: -1;
	}
.text {text-align: left; top: -140px; position: relative;}
.left{/*background-image: url(../images/text-rand-about.png)*/;height: 462px;background-repeat: no-repeat;background-position-x: 80px;margin-top: -35px;}
.right{/*background-image: url(../images/text-rand-about.png)*/;height: 462px;background-repeat: no-repeat;background-position-x: -20px;margin-top: -35px;}

#work {
background-image: url(../images/work.svg);
width: 179px;
height: 260px;
margin-left: auto;
margin-right: auto;
background-repeat: no-repeat;
background-size: 180px;
text-align: center;
-webkit-transition: all 0.4s ease;
-moz-transition: all 0.4s ease;
-ms-transition: all 0.4s ease;
-o-transition: all 0.4s ease;
}
#work.outViewPort{
	opacity: 0;
}
#work h2{text-align: center;
text-transform: uppercase;
padding-top: 81px;
padding-bottom: 71px;
}
#workzone{

}
.green{
	background-color: #42d480;
}
#location{
	margin-top: 120px;
	margin-bottom: 50px;
}
#portrait{
	background-image: /*url(../images/portrait@x2.png); */
	background-size: 140px 158px;
	width: 140px;
	height: 158px;
	background-repeat: no-repeat;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
#bubble{
	background-color: #42d480;
	padding: 1px 15px 1px 14px;;
	position: absolute;
	right: -106px;
	top: 130px;
	font-weight: ;
	border-radius: 3px;
	font-size: 14px;
	-webkit-transition: 0.3s ease-out; 
    -moz-transition: 0.3s ease-out; 
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;

}
#bubble.outViewPort {
opacity: 0;
right: -120px;
}
#bubble:after{top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;}
#bubble:after{
	border-color: rgba(136, 183, 213, 0);
border-top-color: #42d480;
border-width: 9px;
border-left-width: 9px;
border-right-width: 0px;
left: -9px;
top: 11px;
}
#ort{
	height: 500px;
	width: 921;
	background-image: url(../images/ort.png);
	background-repeat: no-repeat;
	margin-top: 100px;
	margin-bottom: 100px;
	background-size: 100%;
}
#bubbleort{
	background-color: #42a8d4;
	padding: 1px 15px 1px 14px;;
	position: absolute;
	right: 345px;
	bottom: 35px;
	font-weight: ;
	border-radius: 3px;
	font-size: 14px;
	-webkit-transition: 0.6s ease-out; 
    -moz-transition: 0.6s ease-out; 
    -o-transition: 0.6s ease-out;
    transition: 0.6s ease-out;
}
#bubbleort.outViewPort{
	opacity: 0;
}
#pin{
	background-image: url(../images/pin.svg);
	width: 54px;
	height: 65px;
	background-repeat: no-repeat;
	position: absolute;
	top: 306px;
	right: 434px;
	-webkit-transition: 0.6s ease-out; 
    -moz-transition: 0.6s ease-out; 
    -o-transition: 0.6s ease-out;
    transition: 0.6s ease-out;
}
#pin.outViewPort{
	opacity: 0;
	top: 250px;
}
#stand h1 {
	color: #ffffff; text-align: center; font-size: 42px;padding-top: 6px;
}
#stand{
	height: 63px;
}
#check{
	background-image: url(../images/check.svg);
	background-repeat: no-repeat;
	background-size: 29px;
	display: block;
	height: 31px;
	left: 200px;
	position: absolute;
	width: 29px;
	top: 15px;
	-webkit-transition: 0.6s ease-out; 
    -moz-transition: 0.6s ease-out; 
    -o-transition: 0.6s ease-out;
    transition: 0.6s ease-out;
}
#check.outViewPort{
	opacity: 0;
	left: 100px;
}
.gray{
	background-color: #e0e3e5;
}
.contact{
	color: #323232; text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}
.contact a{
	color: #42d480;
}
.contact span{
	color: #323232;
	white-space:nowrap;
	-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
}
.contact a:hover span{
	color: #42d480;
}
.social{
	margin-top: 80px;
	color: #323232;
	margin-left: auto;
	margin-right: auto;
	height: 150px;
	width: 400px;
}
.social a{
	color: #323232;
}
.dribbble{
	float: left;
	text-align: center;
	margin-right: 80px;
}
.twitter{
	/*float: left;*/
	display: inline-block;
	}

.dribbble .icon{
	background-image: url(../images/dribbble.svg);
	position: absolute;
	height: 60px;
	background-size: 60px;
	margin-top: -77px;
	background-repeat: no-repeat;
	width: 160px;
	background-position-x: center;
	text-align: left;
	background-position: center;
}

.twitter .icon{
	background-image: url(../images/VK.png);
	position: absolute;
	width: 65px;
	background-size: 65px;
	margin-top: -74px;
	height: 52px;
	background-repeat: no-repeat;
	width: 68px;
	background-position-x: center;
}

a.dribbble:hover{
	color: #ea4c89;
}

a.twitter:hover{
	color: #00aced;
}
.social_link{
	width: 140px;
	margin-left: 60px;
	float: left;
}

.flexslider p{
	color: #ffffff;
	font-size: 12px;
	line-height: 15px;
	float: left;
	font-weight: ;
	max-width: 431px;
	min-height: 75px;
	margin: 22px;
}
.flexslider h1{
	color: #ffffff;
	text-transform: uppercase;
	font-size: 42px;
	line-height: 38px;
	margin-left: 22px;
	margin-top: 22px;
	float: left;
	max-width: 317px;
}
.flexslider h1 span{
	color: #42d480
}
.project{
	position: relative;
	min-height: 120px;
	background-color: rgba(25,25,25,0.8);
	margin-top: -120px;
}
.balken{
	height: 120px;
	background-color: rgba(25,25,25,0.8);
	margin-top: -180px;
	margin-bottom: 60px;
}
.workicons1{
	background-image: url(../images/slider/icons1.png);
	width: 123px;
	height: 80px;
	position: absolute;
	background-repeat: no-repeat;
	right: 22px;
	top: 19px;
}
.workicons2{
	background-image: url(../images/slider/icons2.png);
	width: 123px;
	height: 80px;
	position: absolute;
	background-repeat: no-repeat;
	right: 22px;
	top: 19px;
}
.workicons3{
	background-image: url(../images/slider/icons3.png);
	width: 123px;
	height: 80px;
	position: absolute;
	background-repeat: no-repeat;
	right: 22px;
	top: 19px;
}
.workicons4{
	background-image: url(../images/slider/icons4.png);
	width: 123px;
	height: 80px;
	position: absolute;
	background-repeat: no-repeat;
	right: 22px;
	top: 19px;
}
.project a{
	color: #42d480;
}
.project a:hover{
	color: #42d480;
}

#text1{
	padding-left: 0;
	-webkit-transition: 0.6s ease-out; 
    -moz-transition: 0.6s ease-out; 
    -o-transition: 0.6s ease-out;
    transition: 0.6s ease-out;
}
#text2{
	padding-left: 0;
	-webkit-transition: 0.6s ease-out; 
    -moz-transition: 0.6s ease-out; 
    -o-transition: 0.6s ease-out;
    transition: 0.6s ease-out;

}
#text1.outViewPort{
	opacity: 0;
	padding-left: 100px;
}

#text2.outViewPort{
	opacity: 0;
	padding-left: 100px;
}
/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		.left {background-position-x: 55px;}
		#check {
		left: -21px;}
		#check.outViewPort{
			left:-150px;
		}
		
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.service{margin-top: 50px;margin-bottom: 90px;}
		#bubbleort{
		right: 269px;
		bottom: 125px;}
		#pin{
		top: 273px;
		right: 389px;}
		#check {
		left: 110px;}
		.project{
			margin-top: -90px;
			margin-bottom: -12px;
		}
		.flexslider p {
		max-width: 288px;
		height: 75px;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	.service{margin-top: 50px;margin-bottom: 90px;}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	#navi ul {margin: 25px auto 0 auto;position: relative;width: 300px;}
	.left, .right{height: 0px}
	.text {top: -180px;}
	.green{
			height: 110px;
		}
		#pin {
		top: 236px;
		right: 201px;}
		#ort {
			height: 230px;
			}
		#bubbleort {
			right: 90px;
			bottom: -30px;}
		.workicons1{
			right: 5px;
		}
		.workicons2{
			right: 5px;
		}
		.workicons3{
			right: 5px;
		}
		.workicons4{
			right: 5px;
		}
		.project{
			margin-top: -60px;
			margin-bottom: -13px;
		}
		.balken{
		height: 216px;
		margin-top: -276px;
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		#ZR {margin: 10px auto 0 auto }
		#navi ul {margin: 25px auto 0 16px;position: relative;width: 290px}
		.service{margin-top: 0px;margin-bottom: 90px;}
		.services {margin-top: 0px;}
		.left, .right{height: 0px}
		.text {top: -210px;}
		.green{
			height: 103px;
		}
		#check {
		left: 17px;
		top: 12px;
		}
		.contact span {
		
		}
		h1{
			font-size: 38px;
			line-height: 45px;
		}
		#stand h1 {
			font-size: 38px;
			line-height: 45px;
			}
		#pin {
			top: 224px;
			right: 136px;}
		#ort {
			height: 185px;
			width: 300px;
			}
		#bubbleort {
			right: 15px;
			bottom: -10px;}
		.workicons1{
			visibility: hidden;
		}
		.workicons2{
			visibility: hidden;
		}
		.workicons3{
			visibility: hidden;
		}
		.workicons4{
			visibility: hidden;
		}
		.project{
			margin-top: -30px;
			margin-bottom: -13px;
		}
		.balken{
		height: 216px;
		margin-top: -276px;
		}
		.flexslider h1 {
		font-size: 37px;
		}
		#metext {
		margin-bottom: -150px;
		}
		#bubble{
			right: -70px;
		}
		#bubble.outViewPort {
		opacity: 0;
		right: -80px;
		}
		#navi ul li{margin: 0 30px 0 0;}

		.social{
			width: 270px;
		}
		.dribbble{
			margin-right: 40px;
		}
	}
/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets 

@font-face {
    font-family: 'dinschriftregular';
    src: url('../fonts/dinengschrift-webfont.eot');
    src: url('../fonts/dinengschrift-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dinengschrift-webfont.woff') format('woff'),
         url('../fonts/dinengschrift-webfont.ttf') format('truetype'),
         url('../fonts/dinengschrift-webfont.svg#dinschriftregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_blblack';
    src: url('../fonts/proximanova-black-webfont.eot');
    src: url('../fonts/proximanova-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-black-webfont.woff') format('woff'),
         url('../fonts/proximanova-black-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-black-webfont.svg#proxima_nova_blblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../fonts/proximanova-bold-webfont.eot');
    src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-bold-webfont.woff') format('woff'),
         url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}*/
